.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.menu li {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
}
